In [2]:
import pandas as pd
import sqlalchemy

In [9]:
books=pd.read_csv("D:\\DatalarÄ±m\\Desktop\\bil481\\Library App\\database\\book_data.csv")
books.head()

,Unnamed: 0,Title,Authors,Description,Category,Publisher,Price Starting With ($),Publish Date (Month),Publish Date (Year)
0,7,Journey Through Heartsongs,"By Stepanek, Mattie J. T.",Collects poems written by the eleven-year-old ...,"Poetry , General",VSP Books,19.96,September,2001
1,8,In Search of Melancholy Baby,"By Aksyonov, Vassily, Heim, Michael Henry, and...",The Russian author offers an affectionate chro...,"Biography & Autobiography , General",Random House,4.99,June,1987
2,10,The Dieter's Guide to Weight Loss During Sex,"By Smith, Richard","A humor classic, this tongue-in-cheek diet pla...","Health & Fitness , Diet & Nutrition , Diets",Workman Publishing Company,4.99,January,1978
3,11,Germs : Biological Weapons and America's Secre...,"By Miller, Judith, Engelberg, Stephen, and Bro...","Deadly germs sprayed in shopping malls, bomb-l...","Technology & Engineering , Military Science",Simon & Schuster,4.99,October,2001
4,13,The Good Book: Reading the Bible with Mind and...,"By Gomes, Peter J.","""The Bible and the social and moral consequenc...","Religion , Biblical Biography , General",Harper Perennial,5.29,May,1998

In [10]:
books=books.drop(columns=["Publisher","Price Starting With ($)","Publish Date (Month)","Publish Date (Year)"])
books.head()

,Unnamed: 0,Title,Authors,Description,Category
0,7,Journey Through Heartsongs,"By Stepanek, Mattie J. T.",Collects poems written by the eleven-year-old ...,"Poetry , General"
1,8,In Search of Melancholy Baby,"By Aksyonov, Vassily, Heim, Michael Henry, and...",The Russian author offers an affectionate chro...,"Biography & Autobiography , General"
2,10,The Dieter's Guide to Weight Loss During Sex,"By Smith, Richard","A humor classic, this tongue-in-cheek diet pla...","Health & Fitness , Diet & Nutrition , Diets"
3,11,Germs : Biological Weapons and America's Secre...,"By Miller, Judith, Engelberg, Stephen, and Bro...","Deadly germs sprayed in shopping malls, bomb-l...","Technology & Engineering , Military Science"
4,13,The Good Book: Reading the Bible with Mind and...,"By Gomes, Peter J.","""The Bible and the social and moral consequenc...","Religion , Biblical Biography , General"

In [11]:
books = books.rename(columns={'Unnamed: 0': 'ISSBN', 'Category': 'Genre'})
books.head()

,ISSBN,Title,Authors,Description,Genre
0,7,Journey Through Heartsongs,"By Stepanek, Mattie J. T.",Collects poems written by the eleven-year-old ...,"Poetry , General"
1,8,In Search of Melancholy Baby,"By Aksyonov, Vassily, Heim, Michael Henry, and...",The Russian author offers an affectionate chro...,"Biography & Autobiography , General"
2,10,The Dieter's Guide to Weight Loss During Sex,"By Smith, Richard","A humor classic, this tongue-in-cheek diet pla...","Health & Fitness , Diet & Nutrition , Diets"
3,11,Germs : Biological Weapons and America's Secre...,"By Miller, Judith, Engelberg, Stephen, and Bro...","Deadly germs sprayed in shopping malls, bomb-l...","Technology & Engineering , Military Science"
4,13,The Good Book: Reading the Bible with Mind and...,"By Gomes, Peter J.","""The Bible and the social and moral consequenc...","Religion , Biblical Biography , General"

In [12]:
books["ISSBN"]=books["ISSBN"]+[10000]*books.shape[0]
books['Genre'] = books['Genre'].str.split(',').str[0]
books["Availability"]=["True"]*books.shape[0]
books.head()

,ISSBN,Title,Authors,Description,Genre,Availability
0,10007,Journey Through Heartsongs,"By Stepanek, Mattie J. T.",Collects poems written by the eleven-year-old ...,Poetry,True
1,10008,In Search of Melancholy Baby,"By Aksyonov, Vassily, Heim, Michael Henry, and...",The Russian author offers an affectionate chro...,Biography & Autobiography,True
2,10010,The Dieter's Guide to Weight Loss During Sex,"By Smith, Richard","A humor classic, this tongue-in-cheek diet pla...",Health & Fitness,True
3,10011,Germs : Biological Weapons and America's Secre...,"By Miller, Judith, Engelberg, Stephen, and Bro...","Deadly germs sprayed in shopping malls, bomb-l...",Technology & Engineering,True
4,10013,The Good Book: Reading the Bible with Mind and...,"By Gomes, Peter J.","""The Bible and the social and moral consequenc...",Religion,True

In [13]:
books["Genre"][:20]

0                         Poetry
1      Biography & Autobiography
2               Health & Fitness
3       Technology & Engineering
4                       Religion
5      Biography & Autobiography
6              Political Science
7                           Pets
8              Political Science
9                        Fiction
10                       History
11                       Fiction
12                      Religion
13                       Fiction
14                      Religion
15                      Religion
16     Biography & Autobiography
17     Biography & Autobiography
18          Business & Economics
19                    Psychology
Name: Genre, dtype: object

In [ ]:
books.to_csv("D:\\DatalarÄ±m\\Desktop\\bil481\\Library App\\database\\books.csv")

In [24]:
users=pd.read_csv("D:\\DatalarÄ±m\\Desktop\\bil481\\Library App\\database\\user.csv")
staff=pd.read_csv("D:\\DatalarÄ±m\\Desktop\\bil481\\Library App\\database\\staff.csv")

In [ ]:
users["UserID"] = [10000 + i for i in range(users.shape[0])]
staff["UserID"] = [20000 + i for i in range(staff.shape[0])]
staff = staff.rename(columns={'UserID': 'StaffID'})
users

In [33]:
staff.head()

   StaffID                Name     Password
0    20000       Brielle Mccoy  YPD69YGR2DP
1    20001        Gary Hartman  ZLC79DCH5PY
2    20002          Lacy Huber  MTX58YMZ3PB
3    20003        Ira Shepherd  RPC33GDW6FP
4    20004  Channing Dickerson  KGF72OZY0LQ

In [34]:
filtered_staff = staff[~staff['Name'].isin(users['Name'])]
filtered_staff.head()

   StaffID                Name     Password
0    20000       Brielle Mccoy  YPD69YGR2DP
1    20001        Gary Hartman  ZLC79DCH5PY
2    20002          Lacy Huber  MTX58YMZ3PB
3    20003        Ira Shepherd  RPC33GDW6FP
4    20004  Channing Dickerson  KGF72OZY0LQ

In [36]:
filtered_staff.shape[0]

149

In [37]:
users.to_csv("D:/DatalarÄ±m/Desktop/bil481/Library App/database/users.csv")
filtered_staff[:10].to_csv("D:/DatalarÄ±m/Desktop/bil481/Library App/database/staff.csv")

In [3]:
comment=pd.DataFrame(columns=["CommentID","UserID","BookISSBN","CommentText","CommentDate"])
notification=pd.DataFrame(columns=["NotificationID","UserID","Message","NotificationDate"])
reservation=pd.DataFrame(columns=["ReservationID","UserID","BookISSBN","ReservationDate","DueDate","Status"])
readingList=pd.DataFrame(columns=["ReadingListID","UserID","BookISSBN"])

In [6]:
staff

   Unnamed: 0  StaffID                Name     Password
0           0    20000       Brielle Mccoy  YPD69YGR2DP
1           1    20001        Gary Hartman  ZLC79DCH5PY
2           2    20002          Lacy Huber  MTX58YMZ3PB
3           3    20003        Ira Shepherd  RPC33GDW6FP
4           4    20004  Channing Dickerson  KGF72OZY0LQ
5           5    20005      Giacomo Reeves  CHJ43SEY8GC
6           6    20006         Emma Acosta  ZSU45GPV2GE
7           7    20007        Wylie Barber  HRV32MFP7FL
8           8    20008     Aidan Valentine  IRB94XHO2RC
9           9    20009        Austin Munoz  GXG09MXV8KA

In [16]:
staff.shape[0]

10

In [18]:
import datetime as dt
c1={"CommentID":1,"UserID":users.iloc[5,1],"BookISSBN":books.iloc[21,0],"CommentText":"Harika bir kitap.","CommentDate":dt.datetime(2020, 5, 17)} 
c2={"CommentID":2,"UserID":users.iloc[15,1],"BookISSBN":books.iloc[9021,0],"CommentText":"Ufuk aÃ§Ä±cÄ± bir kitap.","CommentDate":dt.datetime(2019, 8, 17)} 
c3={"CommentID":3,"UserID":users.iloc[35,1],"BookISSBN":books.iloc[621,0],"CommentText":"Tavsiye ederim.","CommentDate":dt.datetime(2021, 5, 9)} 
c4={"CommentID":4,"UserID":users.iloc[49,1],"BookISSBN":books.iloc[4521,0],"CommentText":"Okurken Ã§ok keyif aldÄ±m.","CommentDate":dt.datetime(2022, 6, 21)} 
c5={"CommentID":5,"UserID":users.iloc[21,1],"BookISSBN":books.iloc[121,0],"CommentText":"Ä°Ã§eriÄi oldukÃ§a Ã¶Äretici.","CommentDate":dt.datetime(2021, 4, 3)} 
c6={"CommentID":6,"UserID":users.iloc[40,1],"BookISSBN":books.iloc[231,0],"CommentText":"BeÄenmedim","CommentDate":dt.datetime(2023, 1, 29)} 

comments_list = [c1, c2, c3, c4, c5, c6]
comments_df = pd.DataFrame(comments_list)
comment=pd.concat([comment,comments_df])
comment

C:\Users\Ghost\AppData\Local\Temp\ipykernel_11584\4262925707.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  comment=pd.concat([comment,comments_df])

  CommentID UserID BookISSBN                CommentText CommentDate
0         1  10005     10061          Harika bir kitap.  2020-05-17
1         2  10015     23847      Ufuk aÃ§Ä±cÄ± bir kitap.  2019-08-17
2         3  10035     11118            Tavsiye ederim.  2021-05-09
3         4  10049     16925   Okurken Ã§ok keyif aldÄ±m.  2022-06-21
4         5  10021     10293  Ä°Ã§eriÄi oldukÃ§a Ã¶Äretici.  2021-04-03
5         6  10040     10476                 BeÄenmedim  2023-01-29

In [19]:
n1 = {"NotificationID": 1, "UserID": users.iloc[0, 0], "Message": "Yeni yorumunuz var!", "NotificationDate": dt.datetime(2023, 5, 17)}
n2 = {"NotificationID": 2, "UserID": users.iloc[1, 0], "Message": "KitabÄ±nÄ±z hazÄ±r, teslim alabilirsiniz.", "NotificationDate": dt.datetime(2023, 6, 12)}
n3 = {"NotificationID": 3, "UserID": users.iloc[2, 0], "Message": "Yeni kitap Ã¶nerileri var!", "NotificationDate": dt.datetime(2023, 4, 29)}
n4 = {"NotificationID": 4, "UserID": users.iloc[3, 0], "Message": "Yorumunuz onaylandÄ±.", "NotificationDate": dt.datetime(2023, 7, 5)}
n5 = {"NotificationID": 5, "UserID": users.iloc[4, 0], "Message": "Yeni kitaplar eklendi.", "NotificationDate": dt.datetime(2023, 8, 3)}

notifications_list = [n1, n2, n3, n4, n5]
notifications_df = pd.DataFrame(notifications_list)
notification = pd.concat([notification, notifications_df], ignore_index=True)

C:\Users\Ghost\AppData\Local\Temp\ipykernel_11584\1796651875.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  notification = pd.concat([notification, notifications_df], ignore_index=True)

In [20]:
reservation = pd.DataFrame(columns=["ReservationID", "UserID", "BookISSBN", "ReservationDate", "DueDate", "Status"])

r1 = {"ReservationID": 1, "UserID": users.iloc[0, 0], "BookISSBN": books.iloc[1, 0], "ReservationDate": dt.datetime(2023, 5, 10), "DueDate": dt.datetime(2023, 5, 20), "Status": "Active"}
r2 = {"ReservationID": 2, "UserID": users.iloc[1, 0], "BookISSBN": books.iloc[2, 0], "ReservationDate": dt.datetime(2023, 6, 5), "DueDate": dt.datetime(2023, 6, 15), "Status": "Returned"}
r3 = {"ReservationID": 3, "UserID": users.iloc[2, 0], "BookISSBN": books.iloc[3, 0], "ReservationDate": dt.datetime(2023, 7, 1), "DueDate": dt.datetime(2023, 7, 10), "Status": "Active"}
r4 = {"ReservationID": 4, "UserID": users.iloc[3, 0], "BookISSBN": books.iloc[4, 0], "ReservationDate": dt.datetime(2023, 6, 15), "DueDate": dt.datetime(2023, 6, 25), "Status": "Overdue"}
r5 = {"ReservationID": 5, "UserID": users.iloc[4, 0], "BookISSBN": books.iloc[0, 0], "ReservationDate": dt.datetime(2023, 7, 20), "DueDate": dt.datetime(2023, 7, 30), "Status": "Active"}

reservations_list = [r1, r2, r3, r4, r5]
reservations_df = pd.DataFrame(reservations_list)
reservation = pd.concat([reservation, reservations_df], ignore_index=True)

C:\Users\Ghost\AppData\Local\Temp\ipykernel_11584\2477789226.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  reservation = pd.concat([reservation, reservations_df], ignore_index=True)

In [21]:
readingList = pd.DataFrame(columns=["ReadingListID", "UserID", "BookISSBN"])

rl1 = {"ReadingListID": 1, "UserID": users.iloc[0, 0], "BookISSBN": books.iloc[0, 0]}
rl2 = {"ReadingListID": 2, "UserID": users.iloc[1, 0], "BookISSBN": books.iloc[2, 0]}
rl3 = {"ReadingListID": 3, "UserID": users.iloc[2, 0], "BookISSBN": books.iloc[3, 0]}
rl4 = {"ReadingListID": 4, "UserID": users.iloc[3, 0], "BookISSBN": books.iloc[4, 0]}
rl5 = {"ReadingListID": 5, "UserID": users.iloc[4, 0], "BookISSBN": books.iloc[1, 0]}

readingList_list = [rl1, rl2, rl3, rl4, rl5]
readingList_df = pd.DataFrame(readingList_list)
readingList = pd.concat([readingList, readingList_df], ignore_index=True)

In [22]:
comment.to_csv("D:/DatalarÄ±m/Desktop/bil481/Library App/database/comment.csv")
notification.to_csv("D:/DatalarÄ±m/Desktop/bil481/Library App/database/notification.csv")
reservation.to_csv("D:/DatalarÄ±m/Desktop/bil481/Library App/database/reservation.csv")
readingList.to_csv("D:/DatalarÄ±m/Desktop/bil481/Library App/database/readingList.csv")